<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Avaliações (Semestre)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">21</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Alunos Inscritos</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">2500</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Avaliações Finalizadas</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">48%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Perguntas Pendentes</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-top-primary">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <span class="m-0 font-weight-bold text-primary">Avaliação 1</span>

                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                            <a class="dropdown-item" href="#"><i class="fa fa-pencil"></i> Editar Avaliação</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-search"></i> Visualizar Avaliação</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-secondary text-white shadow">
                    <div class="card-body">
                        <h9 class="card-subtitle font-weight-bold ">Projeto de Sistemas Inteligentes</h9>
                        <p class="card-text text-xs">dadada Analisar dados visando à extração de conhecimento e a aplicação da inteligência artificial na solução de problemas.</p>
                    </div>
                </div>
                <div>
                    <label for="scales">Finalizada</label>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-top-primary">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <span class="m-0 font-weight-bold text-primary">Avaliação 2</span>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                            <a class="dropdown-item" href="#"><i class="fa fa-pencil"></i> Editar Avaliação</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-search"></i> Visualizar Avaliação</a>

                        </div>
                    </div>

                </div>
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        <h9 class="card-subtitle font-weight-bold ">Cultura Religiosa e suas influências</h9>
                        <p class="card-text text-xs">Analisar dados visando à extração de conhecimento e a aplicação da inteligência artificial na solução de problemas.</p>
                    </div>
                </div>
                <div>
                    <label for="scales">Pronta para Publicação</label>
                </div>
            </div>
        </div>


        <!-- Card 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-top-primary">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <span class="m-0 font-weight-bold text-primary">Avaliação 3</span>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                            <a class="dropdown-item" href="#"><i class="fa fa-pencil"></i> Editar Avaliação</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-search"></i> Visualizar Avaliação</a>

                        </div>
                    </div>

                </div>
                <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                        <h9 class="card-subtitle font-weight-bold ">Projeto de Sistemas Inteligentes</h9>
                        <p class="card-text text-xs">Analisar dados visando à extração de conhecimento e a aplicação da inteligência artificial na solução de problema.</p>
                    </div>
                </div>
                <div>
                    <label for="scales">Venceu</label>
                </div>
            </div>
        </div>



        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-top-primary">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <span class="m-0 font-weight-bold text-primary">Avaliação 4</span>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                            <a class="dropdown-item" href="#"><i class="fa fa-pencil"></i> Editar Avaliação</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-search"></i> Visualizar Avaliação</a>

                        </div>
                    </div>

                </div>

                <div class="card bg-warning text-white shadow">
                    <div class="card-body">
                        <h9 class="card-subtitle font-weight-bold ">Conceitos: Arestas, Vértices, Grafos</h9>
                        <p class="card-text text-xs">Analisar dados visando à extração de conhecimento e a aplicação da inteligência artificial na solução de problemas.</p>
                    </div>
                </div>
                <div>
                    <label for="scales">Pendente</label>
                </div>
            </div>
        </div>




        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-top-primary">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <span class="m-0 font-weight-bold text-primary">Avaliação 5</span>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                            <a class="dropdown-item" href="#"><i class="fa fa-pencil"></i> Editar Avaliação</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-search"></i> Visualizar Avaliação</a>

                        </div>
                    </div>

                </div>

                <div class="card-body">
                    <h9 class="card-subtitle font-weight-bold ">Conceitos: Arestas, Vértices, Grafos</h9>
                    <p class="card-text text-xs">Analisar dados visando à extração de conhecimento e a aplicação da inteligência artificial na solução de problemas.</p>
                </div>

                <div>
                    <label for="scales">Novo</label>
                </div>
            </div>
        </div>



        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-top-primary">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <span class="m-0 font-weight-bold text-primary">Avaliação 6</span>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                            <a class="dropdown-item" href="#"><i class="fa fa-pencil"></i> Editar Avaliação</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-search"></i> Visualizar Avaliação</a>

                        </div>
                    </div>

                </div>

                <div class="card-body">
                    <h9 class="card-subtitle font-weight-bold ">Conceitos: Arestas, Vértices, Grafos</h9>
                    <p class="card-text text-xs">Analisar dados visando à extração de conhecimento e a aplicação da inteligência artificial na solução de problemas.</p>
                </div>

                <div>
                    <label for="scales">Novo</label>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-top-primary">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <span class="m-0 font-weight-bold text-primary">Avaliação 7</span>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                            <a class="dropdown-item" href="#"><i class="fa fa-pencil"></i> Editar Avaliação</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-search"></i> Visualizar Avaliação</a>

                        </div>
                    </div>

                </div>

                <div class="card-body">
                    <h9 class="card-subtitle font-weight-bold ">Conceitos: Arestas, Vértices, Grafos</h9>
                    <p class="card-text text-xs">Analisar dados visando à extração de conhecimento e a aplicação da inteligência artificial na solução de problemas.</p>
                </div>
                <div>
                    <label for="scales">Novo</label>
                </div>
            </div>
        </div>



        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-top-primary">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <span class="m-0 font-weight-bold text-primary">Avaliação 8</span>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">

                            <a class="dropdown-item" href="#"><i class="fa fa-pencil"></i> Editar Avaliação</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="fa fa-search"></i> Visualizar Avaliação</a>

                        </div>
                    </div>

                </div>

                <div class="card-body">
                    <h9 class="card-subtitle font-weight-bold ">Conceitos: Arestas, Vértices, Grafos</h9>
                    <p class="card-text text-xs">Analisar dados visando à extração de conhecimento e a aplicação da inteligência artificial na solução de problemas.</p>
                </div>
                <div>
                    <label for="scales">Novo</label>
                </div>
            </div>
        </div>


    </div>
    <!-- Content Row -->


</div>
<!-- /.container-fluid -->